[submodule "GoProxyChecker"]
	path = GoProxyChecker
	url = https://github.com/OneByteForLife/GoProxyChecker.git
[submodule "GoAsyncProxyParser"]
	path = GoAsyncProxyParser
	url = https://github.com/OneByteForLife/GoAsyncProxyParser.git
